<ul class="text-white text-center">
  <li class="border-b p-5">
    <a href="/admin/dashboard">Tổng quan</a>
  </li>
  <li class="border-b p-5">
    <a href="/admin/products">Sản phẩm</a>
  </li>
</ul>
