<link rel="stylesheet" href="/styles.css" />
<%- include('../partials/header') %>
<title><%= pageHome %></title>
<h1 class="text-amber-600 text-4xl font-bold">Trang chủ</h1>
<%- include('../partials/footer') %>
